// COLORS
$dark-blue: #043873
$light-blue: #4F9CF9
$yellow: #FFE492
$white: #FFFFFF
$black: #212529

// FONTS
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap')
$nav-link-font: 'DM Sans', sans-serif
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap')
$main-font: 'Inter', sans-serif
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap')
$secondary-font: 'Montserrat', sans-serif

// WIDTHS
$desktop-width: 1400px
$small-desktop-width: 1150px
$tablet-width: 768px
$mobile-width: 320px

// BORDER RADIUS
$btn-border-radius: 8px
$card-border-radius: 10px