@media ( max-width: 1500px  )
  html
    font-size: 8.22px

@media ( max-width: 1200px  )
  html
    font-size: 7.15px

  .hide-on-small-screen
    display: none !important

  .burger-menu
    display: flex !important

  .nav-container-small-screen
    display: block !important
    transform: translateX(100%)
    transition: all 0.3s 

@media ( max-width: 1050px  )
  html
    font-size: 5.5px

  .burger-menu
    gap: 10px !important
    width: 38px !important

@media ( max-width: 830px  )
  .cta-btn
    display: none !important

  .container
    flex-direction: column !important
    gap: 50px !important

  .project-menagment
    flex-direction: column !important

  .work-together
    flex-direction: column !important

  .text-side
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

  p
    text-align: center !important

  h1
    text-align: center !important

  h2
    text-align: center !important

  h3
    text-align: center !important

  li

    p
      text-align: start !important

  .work-together-image
    margin-right: 0 !important

@media ( max-width: 800px  )
  .testimonials
    z-index: 2
    width: 100vw
    overflow-x: scroll

    &::-webkit-scrollbar
      height: 0

@media ( max-width: 785px  )
  .navbar-container
    width: 600px !important
  
  .container
    width: 600px !important

  .footer-container
    width: 600px !important

@media ( max-width: 620px  )
  .navbar-container
    width: 400px !important
  
  .container
    width: 400px !important

  .footer-container
    width: 400px !important

  .sponsors-images
    margin-top: 0 !important
    flex-direction: column
    align-items: center
    gap: 10rem

    .apple-logo
      height: 68px !important
      width: 55px !important

    .microsoft-logo
      height: 62px !important
      width: 297px !important

    .slack-logo
      height: 70px !important
      width: 279px !important

    .google-logo
      height: 69px !important
      width: 211px !important

  .footer-flex
    flex-wrap: wrap !important
    align-items: center
    justify-content: center

    div
      text-align: center

@media ( max-width: 450px  )
  .navbar-container
    width: 285px !important
  
  .container
    width: 285px !important

  .white-section
    padding: 10rem 0 !important

  .blue-section
    padding: 10rem 0 !important

  .footer-container
    width: 285px !important

  .footer-flex
    flex-direction: column

  .terms
    display: flex !important
    flex-wrap: wrap !important
    align-items: center
    justify-content: center

  .hero-image
    width: 285px !important
    height: calc( 285px - 100px ) !important

  .project-menagment-img
    width: 285px !important
    height: calc( 285px - 100px ) !important

  .work-together-image
    width: 285px !important
    height: calc( 285px - 25px ) !important

  .extension-image
    width: 285px !important
    height: calc( 285px - 50px ) !important

  .customisable-image
    width: 285px !important
    height: calc( 285px - 100px ) !important

  .apps-image
    width: 285px !important
    height: calc( 285px - 50px ) !important

  .price-list
    width: 423px !important
    overflow-x: scroll 

@media ( max-width: 335px  )
  .free-trial-section
    width: auto !important