@import "./reset.sass"
@import "./config.sass"
@import "./media-query.sass"

.navbar
  width: 100vw
  padding: 1.4rem 0
  background: $dark-blue

  .navbar-container
    @include center(140rem)
    display: flex
    align-items: center
    justify-content: space-between

    .navbar-btns
      display: flex
      align-items: center
      gap: 7.5rem

      .navbar-menu
        list-style-type: none
        display: flex
        gap: 3.2rem
        @include font-set($nav-link-font, 500, 1.8rem, 2.3rem, null)

        .nav-menu

          .nav-menu-links
            color: $white
            text-decoration: none
            display: flex
            align-items: center
            gap: 1rem

            .svg-nav
              width: 0.9rem
              height: 0.4rem

      .cta-btns
        display: flex
        align-items: center 
        gap: 2.4rem

        .cta-btn
          @include font-set($main-font, 500, 1.8rem, 2.3rem, null)
          border: 0
          border-radius: $btn-border-radius

        .login-cta
          color: $dark-blue
          background: $yellow
          padding: 1.85rem 4rem

        .free-trial-cta
          color: $white
          background: $light-blue
          padding: 2rem

          .svg-cta
            @include svg-cta

.burger-menu
  display: none
  width: 42px
  background: transparent
  border: 0
  flex-direction: column
  gap: 12px

  .line
    height: 2px
    width: 100%
    background: $white

.blur
  width: 100vw
  height: 100vh
  background: rgba(255, 255, 255, 0.1)
  backdrop-filter: blur(3px)
  z-index: 2
  position: fixed
  visibility: hidden
  opacity: 0
  transition: all 0.3s 

.nav-container-small-screen
  display: none
  width: 300px
  height: 100vh
  background: $dark-blue
  right: 0
  overflow: hidden
  position: fixed
  z-index: 3

  button
    padding: 10px
    background: transparent
    border: 0
    color: $white
    font-size: 30px

  ul
    list-style: none
    width: 100%

    li
      width: 100%
      height: 50px
      display: flex
      align-items: center
      justify-content: center

      a
        @include font-set($nav-link-font, 500, 3.2rem, 2.3rem, null)
        color: $white
        text-decoration: none

.flex-column
  display: flex
  flex-direction: column

.jc-center
  justify-content: center

.align-center
  align-items: center

.white-section
  @include section()

.blue-section
  background: $dark-blue
  @include section()

.text-side
  position: relative
  width: auto

  .text-heading1
    @include font-set($main-font, 700, 6.4rem, 7.7rem, -0.3rem)
    color: $white

  .white-text-heading2
    @include second-heading($white)

  .black-text-heading2
    @include second-heading($black)

  .white-text
    @include txt-under-heading($white)
  
  .black-text
    @include txt-under-heading($black)

  button
    @include main-btn(6rem)
    width: 23.5rem
    padding: 2rem !important

    .svg-cta
      @include svg-cta

.project-menagment
  width: 100%
  display: flex
  justify-content: space-between
  align-items: center

  .project-menagment-img
    width: 67.2rem
    height: 54.7rem

.work-together
  width: 100%
  margin-top: 10rem
  display: flex
  justify-content: space-between
  align-items: center

  .work-together-image
    width: 71rem
    margin-right: 10rem

.none
  display: none

.gap60
  gap: 6rem

.gap100
  gap: 10rem

.gap98
  gap: 9.8rem
        
.hero-txt-side
  display: flex
  flex-direction: column
  justify-content: center

  .hero-heading
    @include font-set($main-font, 700, 6.4rem, 7.7rem, -0.3rem)
    color: $white

  .hero-txt
    margin-top: 2.4rem
    @include font-set($main-font, 400, 1.8rem, 3rem, null)
    color: $white

  .cta-btn-hero
    @include main-btn(6rem)
    width: 23.5rem
    padding: 2rem !important

    .svg-cta
      @include svg-cta

.hero-image
  height: 50rem

.extension-image
  width: 60rem
  height: 47rem

.customisable-image
  width: 71.4rem
  height: 53.2rem

.your-data-image
  width: 60rem

.apps-image
  width: 58rem

.text-center
  text-align: center

.footer-logo
  width: 19.1rem

.price-list
  margin-top: 6rem
  display: flex
  align-items: center
  justify-content: space-between
  gap: 3.2rem

  .price-card
    text-align: left
    border-radius: $card-border-radius

  .white-card
    border: 1px solid $yellow
    padding: 4rem 4.4rem 

    .card-heading-text
      @include font-set($main-font, 600, 2.4rem, 3.6rem, null)

    .card-price
      @include font-set($main-font, 700, 3.6rem, 4.35rem, -0.03rem)
      margin-top: 2.5rem

    .card-text
      @include font-set($main-font, 500, 1.8rem, 2.3rem, -0.03rem)
      margin-top: 2.5rem

    .card-desc-list
      list-style: none
      @include font-set($main-font, 500, 1.8rem, 2.3rem, -0.03rem)
      margin-top: 2.5rem
      display: flex
      flex-direction: column
      gap: 2.8rem

      li
        display: flex
        align-items: center
        gap: 1.9rem

        img
          width: 1.8rem
          height: 1.8rem

    .white-price-btn
      @include font-set($main-font, 500, 1.8rem, 2.3rem, -0.03rem)
      background: $white
      border: 0
      border-radius: $btn-border-radius
      padding: 2rem 4rem
      margin-top: 2.5rem
      border: 1px solid $yellow

  .blue-card
    background: $dark-blue
    padding: 8rem 4.4rem 

    .card-heading-text
      @include font-set($main-font, 600, 2.4rem, 3.6rem, null)
      color: $white

    .card-price
      @include font-set($main-font, 700, 3.6rem, 4.35rem, -0.03rem)
      color: $yellow
      margin-top: 2.5rem

    .card-text
      @include font-set($main-font, 500, 1.8rem, 2.3rem, -0.03rem)
      color: $white
      margin-top: 2.5rem

    .card-desc-list
      list-style: none
      color: $white
      @include font-set($main-font, 500, 1.8rem, 2.3rem, -0.03rem)
      margin-top: 2.5rem
      display: flex
      flex-direction: column
      gap: 2.8rem

      li
        display: flex
        align-items: center
        gap: 1.9rem

        img
          width: 1.8rem
          height: 1.8rem

    .blue-price-btn
      @include main-btn(2.5rem)

.sponsors-images
  width: 100%
  margin-top: 10rem
  display: flex
  justify-content: space-between

  img
    height: 6.8rem

.testimonials
  display: flex
  gap: 3.2rem
  margin-top: 6rem

  .card
    width: calc( (140rem - 2 * 3.2rem) / 3 )
    padding: 6rem 4rem
    border-radius: $card-border-radius

  .testimonial-white-card
    box-shadow: 15px 10px 50px rgba(0, 0, 0, 0.1)

    .text-part
      width: 36.1rem
      display: flex
      flex-direction: column
      padding-bottom: 4rem
      border-bottom: 1px solid #212529

      .quote
        width: 8.6rem

      .testimonial-txt
        @include txt-under-heading(null)

    .person-part
      margin-top: 6rem 
      display: flex
      gap: 4.2rem

      .person-img
        width: 9.5rem
        height: 9.5rem

      .person-info

        .name
          @include font-set($main-font, 600, 2.4rem, 3.6rem, null)
          color: #212529

        .info
          width: calc( 39.1rem - 4.2rem - 9.5rem )
          margin-top: 1.5rem 
          @include font-set($main-font, 400, 1.6rem, 2rem, -0.03rem)
          color: #212529

  .testimonial-blue-card
    background: $light-blue

    .text-part
      width: 36.1rem
      display: flex
      flex-direction: column
      padding-bottom: 4rem
      border-bottom: 1px solid $white

      .quote
        width: 8.6rem

      .testimonial-txt
        @include txt-under-heading($white)

    .person-part
      margin-top: 6rem 
      display: flex
      gap: 4.2rem

      .person-img
        width: 9.5rem
        height: 9.5rem

      .person-info

        .name
          @include font-set($main-font, 600, 2.4rem, 3.6rem, null)
          color: $dark-blue

        .info
          width: calc( 39.1rem - 4.2rem - 9.5rem )
          margin-top: 1.5rem 
          @include font-set($main-font, 400, 1.6rem, 2rem, -0.03rem)
          color: $white

.free-trial-section
  width: 100vw
  padding: 14rem 0 3.2rem 0
  background: $dark-blue

  .free-trial-container
    @include center(60.8rem)
    display: flex
    flex-direction: column
    align-items: center
    text-align: center

    .free-trial-heading
      @include second-heading($white)

    .free-trial-text
      @include txt-under-heading($white)

    .free-trial-btn
      @include main-btn(4rem)
      margin-bottom: calc( 4rem - 2.4rem )
        
      .svg-cta
        @include svg-cta

    .free-trial-apps
      margin-top: 4rem
      display: flex
      gap: 4rem

.footer
  width: 100vw
  padding-top: 14rem
  background: $dark-blue

  .footer-container
    @include center(140rem)

    .footer-flex
      display: flex
      gap: 10rem

      div
        width: calc( (140rem - 4 * 10rem) / 5 )

        .under-logo-text
          @include txt-under-heading($white)

        h4
          @include font-set($main-font, 700, 1.8rem, 2.18rem, -0.03rem)
          color: $white

        ul
          list-style: none

          li
            margin-top: 1.6rem

            a
              @include font-set($main-font, 400, 1.6rem, 2rem, -0.03rem)
              color: $white
              text-decoration: none

              &:hover
                text-decoration: underline

            .yellow-link
              color: $yellow

        h3
          @include font-set($main-font, 700, 2.8rem, 3.6rem, -0.03rem)
          color: $white

        .free-text
          @include txt-under-heading($white)

        .footer-btn
          @include main-btn(4rem)
          margin-bottom: calc( 4rem - 2.4rem )
        
          .svg-cta
            @include svg-cta

    .line
      height: 1px
      width: 100%
      background: #2E4E73
      margin-top: 6.7rem
      
    .footer-bottom
      padding: 3.3rem 0

      .terms
        display: flex
        gap: 6rem
        align-items: center

        .lang
          cursor: pointer
          display: flex
          align-items: center
          gap: 0.6rem

          p
            @include font-set($main-font, 400, 1.6rem, 2rem, -0.03rem)
            color: $white

          .globe
            width: 1.9rem
            height: 1.9rem

          .arrow-down
            width: 1.2rem
            height: 0.6rem

        a
          @include font-set($main-font, 400, 1.6rem, 2rem, -0.03rem)
          color: $white
          text-decoration: none

          &:hover
            text-decoration: underline

button
  cursor: pointer !important