@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  font-size: 10px;
}

.navbar {
  width: 100vw;
  padding: 1.4rem 0;
  background: #043873;
}
.navbar .navbar-container {
  width: 140rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .navbar-container .navbar-btns {
  display: flex;
  align-items: center;
  gap: 7.5rem;
}
.navbar .navbar-container .navbar-btns .navbar-menu {
  list-style-type: none;
  display: flex;
  gap: 3.2rem;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.3rem;
}
.navbar .navbar-container .navbar-btns .navbar-menu .nav-menu .nav-menu-links {
  color: #FFFFFF;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.navbar .navbar-container .navbar-btns .navbar-menu .nav-menu .nav-menu-links .svg-nav {
  width: 0.9rem;
  height: 0.4rem;
}
.navbar .navbar-container .navbar-btns .cta-btns {
  display: flex;
  gap: 2.4rem;
}
.navbar .navbar-container .navbar-btns .cta-btns .cta-btn {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.3rem;
  border: 0;
  border-radius: 0.8rem;
}
.navbar .navbar-container .navbar-btns .cta-btns .login-cta {
  color: #043873;
  background: #FFE492;
  padding: 1.85rem 4rem;
}
.navbar .navbar-container .navbar-btns .cta-btns .free-trial-cta {
  color: #FFFFFF;
  background: #4F9CF9;
  padding: 2rem;
}
.navbar .navbar-container .navbar-btns .cta-btns .free-trial-cta .svg-cta {
  margin-left: 1rem;
  width: 1.3rem;
  height: 1.3rem;
}

.hero-section {
  width: 100vw;
  background: #043873;
  padding: 14rem 0;
  z-index: -2;
  position: relative;
  overflow: hidden;
}
.hero-section .hero-vector {
  position: absolute;
  z-index: -1;
  width: 120vw;
}
.hero-section .hero-container {
  width: 140rem;
  margin: 0 auto;
  display: flex;
}
.hero-section .hero-container .hero-txt-side {
  width: 65rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-section .hero-container .hero-txt-side .hero-heading {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 7.7rem;
  letter-spacing: -0.3rem;
  color: #FFFFFF;
}
.hero-section .hero-container .hero-txt-side .hero-txt {
  margin-top: 2.4rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3rem;
  color: #FFFFFF;
}
.hero-section .hero-container .hero-txt-side .cta-btn-hero {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.3rem;
  letter-spacing: -0.03rem;
  color: #FFFFFF;
  background: #4F9CF9;
  border: 0;
  border-radius: 0.8rem;
  padding: 2rem 4rem;
  margin-top: 6rem;
  width: 23.5rem;
  padding: 2rem !important;
}
.hero-section .hero-container .hero-txt-side .cta-btn-hero .svg-cta {
  margin-left: 1rem;
  width: 1.3rem;
  height: 1.3rem;
}
.hero-section .hero-container .hero-img {
  height: 50rem;
}

.work-menagment-section {
  width: 100vw;
  padding: 14rem 0;
}
.work-menagment-section .work-menagment-container {
  width: 140rem;
  margin: 0 auto;
}
.work-menagment-section .work-menagment-container .project-menagment {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.work-menagment-section .work-menagment-container .project-menagment .project-menagment-txt-side {
  width: 67.2rem;
  position: relative;
}
.work-menagment-section .work-menagment-container .project-menagment .project-menagment-txt-side .project-menagment-heading {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 7.2rem;
  line-height: 8.7rem;
  letter-spacing: -0.3rem;
}
.work-menagment-section .work-menagment-container .project-menagment .project-menagment-txt-side .project-menagment-under-text-decoration {
  position: absolute;
  transform: translateY(-100%);
  z-index: -1;
}
.work-menagment-section .work-menagment-container .project-menagment .project-menagment-txt-side .project-menagment-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: -0.03rem;
  margin-top: 2.4rem;
}
.work-menagment-section .work-menagment-container .project-menagment .project-menagment-txt-side .project-menagment-btn {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.3rem;
  letter-spacing: -0.03rem;
  color: #FFFFFF;
  background: #4F9CF9;
  border: 0;
  border-radius: 0.8rem;
  padding: 2rem 4rem;
  margin-top: 6rem;
}
.work-menagment-section .work-menagment-container .project-menagment .project-menagment-txt-side .project-menagment-btn .svg-cta {
  margin-left: 1rem;
  width: 1.3rem;
  height: 1.3rem;
}
.work-menagment-section .work-menagment-container .project-menagment .project-menagment-img {
  width: 67.2rem;
  height: 54.7rem;
}
.work-menagment-section .work-menagment-container .work-together {
  margin-top: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.work-menagment-section .work-menagment-container .work-together .work-together-image {
  width: 71rem;
  margin-right: 10rem;
}
.work-menagment-section .work-menagment-container .work-together .work-together-txt-side {
  position: relative;
}
.work-menagment-section .work-menagment-container .work-together .work-together-txt-side .work-together-heading {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 7.2rem;
  line-height: 8.7rem;
  letter-spacing: -0.3rem;
}
.work-menagment-section .work-menagment-container .work-together .work-together-txt-side .work-together-under-text-decoration {
  width: 40rem;
  position: absolute;
  transform: translateY(-120%);
  left: 35%;
  z-index: -1;
}
.work-menagment-section .work-menagment-container .work-together .work-together-txt-side .work-together-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: -0.03rem;
  margin-top: 2.4rem;
}
.work-menagment-section .work-menagment-container .work-together .work-together-txt-side .work-together-btn {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.3rem;
  letter-spacing: -0.03rem;
  color: #FFFFFF;
  background: #4F9CF9;
  border: 0;
  border-radius: 0.8rem;
  padding: 2rem 4rem;
  margin-top: 6rem;
}
.work-menagment-section .work-menagment-container .work-together .work-together-txt-side .work-together-btn .svg-cta {
  margin-left: 1rem;
  width: 1.3rem;
  height: 1.3rem;
}

.extension-section {
  padding: 14rem 0;
  background: #043873;
  position: relative;
  z-index: -2;
}
.extension-section .extension-container {
  width: 140rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.extension-section .extension-container .extension-txt-side {
  width: 69.7rem;
  position: relative;
}
.extension-section .extension-container .extension-txt-side .extension-heading {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 7.2rem;
  line-height: 8.7rem;
  letter-spacing: -0.3rem;
  color: #FFFFFF;
}
.extension-section .extension-container .extension-txt-side .extension-under-text-decoration {
  width: 50rem;
  position: absolute;
  transform: translateY(-105%);
  left: 32%;
  z-index: -1;
}
.extension-section .extension-container .extension-txt-side .extension-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: -0.03rem;
  margin-top: 2.4rem;
  color: #FFFFFF;
}
.extension-section .extension-container .extension-txt-side .extension-btn {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.3rem;
  letter-spacing: -0.03rem;
  color: #FFFFFF;
  background: #4F9CF9;
  border: 0;
  border-radius: 0.8rem;
  padding: 2rem 4rem;
  margin-top: 6rem;
}
.extension-section .extension-container .extension-txt-side .extension-btn .svg-cta {
  margin-left: 1rem;
  width: 1.3rem;
  height: 1.3rem;
}
.extension-section .extension-container .extension-img {
  width: 60rem;
  height: 47rem;
}

.customisable-section {
  padding: 14rem 0;
}
.customisable-section .customisable-container {
  width: 140rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.customisable-section .customisable-container .customisable-image {
  width: 71.4rem;
  height: 53.2rem;
}
.customisable-section .customisable-container .customisable-txt-side {
  width: 60rem;
  position: relative;
}
.customisable-section .customisable-container .customisable-txt-side .customisable-heading {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 7.2rem;
  line-height: 8.7rem;
  letter-spacing: -0.3rem;
}
.customisable-section .customisable-container .customisable-txt-side .customisable-under-text-decoration {
  width: 60rem;
  position: absolute;
  transform: translateY(-100%);
  z-index: -1;
}
.customisable-section .customisable-container .customisable-txt-side .customisable-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: -0.03rem;
  margin-top: 2.4rem;
}
.customisable-section .customisable-container .customisable-txt-side .customisable-btn {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.3rem;
  letter-spacing: -0.03rem;
  color: #FFFFFF;
  background: #4F9CF9;
  border: 0;
  border-radius: 0.8rem;
  padding: 2rem 4rem;
  margin-top: 6rem;
}
.customisable-section .customisable-container .customisable-txt-side .customisable-btn .svg-cta {
  margin-left: 1rem;
  width: 1.3rem;
  height: 1.3rem;
}

.pricing-section {
  width: 140rem;
  margin: 0 auto;
  margin-top: 14rem;
  margin-bottom: 14rem;
  text-align: center;
  position: relative;
}
.pricing-section .pricing-heading {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 7.2rem;
  line-height: 8.7rem;
  letter-spacing: -0.3rem;
}
.pricing-section .pricing-txt-under-decoration {
  width: 45rem;
  position: absolute;
  transform: translateY(-105%);
  left: 69rem;
  z-index: -1;
}
.pricing-section .pricing-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: -0.03rem;
  margin-top: 2.4rem;
}
.pricing-section .price-list {
  margin-top: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.2rem;
}
.pricing-section .price-list .price-card {
  text-align: left;
  width: 46.6666666667rem;
  border-radius: 1rem;
}
.pricing-section .price-list .white-card {
  border: 1px solid #FFE492;
  padding: 4rem 4.4rem;
}
.pricing-section .price-list .white-card .card-heading-text {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.6rem;
}
.pricing-section .price-list .white-card .card-price {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 4.35rem;
  letter-spacing: -0.03rem;
  margin-top: 2.5rem;
}
.pricing-section .price-list .white-card .card-text {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.3rem;
  letter-spacing: -0.03rem;
  margin-top: 2.5rem;
}
.pricing-section .price-list .white-card .card-desc-list {
  list-style: none;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.3rem;
  letter-spacing: -0.03rem;
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}
.pricing-section .price-list .white-card .card-desc-list li {
  display: flex;
  align-items: center;
  gap: 1.9rem;
}
.pricing-section .price-list .white-card .card-desc-list li img {
  width: 1.8rem;
  height: 1.8rem;
}
.pricing-section .price-list .white-card .white-price-btn {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.3rem;
  letter-spacing: -0.03rem;
  background: #FFFFFF;
  border: 0;
  border-radius: 0.8rem;
  padding: 2rem 4rem;
  margin-top: 2.5rem;
  border: 1px solid #FFE492;
}
.pricing-section .price-list .blue-card {
  background: #043873;
  padding: 8rem 4.4rem;
}
.pricing-section .price-list .blue-card .card-heading-text {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.6rem;
  color: #FFFFFF;
}
.pricing-section .price-list .blue-card .card-price {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 4.35rem;
  letter-spacing: -0.03rem;
  color: #FFE492;
  margin-top: 2.5rem;
}
.pricing-section .price-list .blue-card .card-text {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.3rem;
  letter-spacing: -0.03rem;
  color: #FFFFFF;
  margin-top: 2.5rem;
}
.pricing-section .price-list .blue-card .card-desc-list {
  list-style: none;
  color: #FFFFFF;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.3rem;
  letter-spacing: -0.03rem;
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}
.pricing-section .price-list .blue-card .card-desc-list li {
  display: flex;
  align-items: center;
  gap: 1.9rem;
}
.pricing-section .price-list .blue-card .card-desc-list li img {
  width: 1.8rem;
  height: 1.8rem;
}
.pricing-section .price-list .blue-card .blue-price-btn {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.3rem;
  letter-spacing: -0.03rem;
  color: #FFFFFF;
  background: #4F9CF9;
  border: 0;
  border-radius: 0.8rem;
  padding: 2rem 4rem;
  margin-top: 2.5rem;
}

.your-work-section {
  background: #043873;
  padding: 14rem 0;
  position: relative;
  z-index: -2;
  overflow: hidden;
}
.your-work-section .your-work-vector {
  position: absolute;
  top: -30%;
}
.your-work-section .your-work-container {
  width: 140rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.your-work-section .your-work-container .your-work-heading {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 7.2rem;
  line-height: 8.7rem;
  letter-spacing: -0.3rem;
  color: #FFFFFF;
}
.your-work-section .your-work-container .your-work-under-text-decoration {
  top: 20%;
  left: 68%;
  position: absolute;
  z-index: -1;
}
.your-work-section .your-work-container .your-work-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: -0.03rem;
  margin-top: 2.4rem;
  color: #FFFFFF;
  text-align: center;
}
.your-work-section .your-work-container .your-work-btn {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.3rem;
  letter-spacing: -0.03rem;
  color: #FFFFFF;
  background: #4F9CF9;
  border: 0;
  border-radius: 0.8rem;
  padding: 2rem 4rem;
  margin-top: 6rem;
}
.your-work-section .your-work-container .your-work-btn .svg-cta {
  margin-left: 1rem;
  width: 1.3rem;
  height: 1.3rem;
}

.your-data-section {
  padding: 14rem 0;
}
.your-data-section .your-data-container {
  width: 140rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.your-data-section .your-data-container .your-data-txt-side {
  position: relative;
}
.your-data-section .your-data-container .your-data-txt-side .your-data-heading {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 7.2rem;
  line-height: 8.7rem;
  letter-spacing: -0.3rem;
}
.your-data-section .your-data-container .your-data-txt-side .your-data-under-text-decoration {
  width: 43rem;
  height: 7.5rem;
  top: 5%;
  left: 25%;
  position: absolute;
  z-index: -1;
}
.your-data-section .your-data-container .your-data-txt-side .your-data-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: -0.03rem;
  margin-top: 2.4rem;
}
.your-data-section .your-data-container .your-data-txt-side .your-data-btn {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.3rem;
  letter-spacing: -0.03rem;
  color: #FFFFFF;
  background: #4F9CF9;
  border: 0;
  border-radius: 0.8rem;
  padding: 2rem 4rem;
  margin-top: 6rem;
}
.your-data-section .your-data-container .your-data-txt-side .your-data-btn .svg-cta {
  margin-left: 1rem;
  width: 1.3rem;
  height: 1.3rem;
}
.your-data-section .your-data-container .your-data-img {
  width: 60rem;
}

.sponsors-section {
  padding: 14rem 0;
}
.sponsors-section .sponsors-container {
  width: 140rem;
  margin: 0 auto;
  position: relative;
}
.sponsors-section .sponsors-container .sponsors-heading {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 7.2rem;
  line-height: 8.7rem;
  letter-spacing: -0.3rem;
  text-align: center;
}
.sponsors-section .sponsors-container .sponsors-under-text-decoration {
  position: absolute;
  width: 45rem;
  height: 7rem;
  left: 44.5%;
  top: 9.5%;
  z-index: -1;
}
.sponsors-section .sponsors-container .sponsors-images {
  margin-top: 10rem;
  display: flex;
  justify-content: space-between;
}
.sponsors-section .sponsors-container .sponsors-images img {
  height: 6.8rem;
}

.apps-section {
  padding: 14rem 0;
  background: #043873;
  position: relative;
  z-index: -2;
  overflow: hidden;
}
.apps-section .apps-vector {
  position: absolute;
  top: 0;
}
.apps-section .apps-container {
  width: 140rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 10rem;
}
.apps-section .apps-container .apps-txt-side .apps-heading {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 7.2rem;
  line-height: 8.7rem;
  letter-spacing: -0.3rem;
  color: #FFFFFF;
}
.apps-section .apps-container .apps-txt-side .apps-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: -0.03rem;
  margin-top: 2.4rem;
  color: #FFFFFF;
}
.apps-section .apps-container .apps-txt-side .apps-btn {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.3rem;
  letter-spacing: -0.03rem;
  color: #FFFFFF;
  background: #4F9CF9;
  border: 0;
  border-radius: 0.8rem;
  padding: 2rem 4rem;
  margin-top: 6rem;
}
.apps-section .apps-container .apps-txt-side .apps-btn .svg-cta {
  margin-left: 1rem;
  width: 1.3rem;
  height: 1.3rem;
}

.testimonial-section {
  width: 140rem;
  margin: 0 auto;
  padding: 14rem 0;
}
.testimonial-section .testimonial-heading {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 7.2rem;
  line-height: 8.7rem;
  letter-spacing: -0.3rem;
  text-align: center;
}
.testimonial-section .testimonials {
  display: flex;
  gap: 3.2rem;
  margin-top: 6rem;
}
.testimonial-section .testimonials .card {
  padding: 6rem 4rem;
  border-radius: 1rem;
}
.testimonial-section .testimonials .testimonial-white-card {
  box-shadow: 15px 10px 50px rgba(0, 0, 0, 0.1);
}
.testimonial-section .testimonials .testimonial-white-card .text-part {
  width: 39.1rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 4rem;
  border-bottom: 1px solid #212529;
}
.testimonial-section .testimonials .testimonial-white-card .text-part .quote {
  width: 8.6rem;
}
.testimonial-section .testimonials .testimonial-white-card .text-part .testimonial-txt {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: -0.03rem;
  margin-top: 2.4rem;
}
.testimonial-section .testimonials .testimonial-white-card .person-part {
  margin-top: 6rem;
  display: flex;
  gap: 4.2rem;
}
.testimonial-section .testimonials .testimonial-white-card .person-part .person-img {
  width: 9.5rem;
  height: 9.5rem;
}
.testimonial-section .testimonials .testimonial-white-card .person-part .person-info .name {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.6rem;
  color: #212529;
}
.testimonial-section .testimonials .testimonial-white-card .person-part .person-info .info {
  width: 25.4rem;
  margin-top: 1.5rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
  letter-spacing: -0.03rem;
  color: #212529;
}
.testimonial-section .testimonials .testimonial-blue-card {
  background: #4F9CF9;
}
.testimonial-section .testimonials .testimonial-blue-card .text-part {
  width: 39.1rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 4rem;
  border-bottom: 1px solid #FFFFFF;
}
.testimonial-section .testimonials .testimonial-blue-card .text-part .quote {
  width: 8.6rem;
}
.testimonial-section .testimonials .testimonial-blue-card .text-part .testimonial-txt {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: -0.03rem;
  margin-top: 2.4rem;
  color: #FFFFFF;
}
.testimonial-section .testimonials .testimonial-blue-card .person-part {
  margin-top: 6rem;
  display: flex;
  gap: 4.2rem;
}
.testimonial-section .testimonials .testimonial-blue-card .person-part .person-img {
  width: 9.5rem;
  height: 9.5rem;
}
.testimonial-section .testimonials .testimonial-blue-card .person-part .person-info .name {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.6rem;
  color: #043873;
}
.testimonial-section .testimonials .testimonial-blue-card .person-part .person-info .info {
  width: 25.4rem;
  margin-top: 1.5rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
  letter-spacing: -0.03rem;
  color: #FFFFFF;
}

.free-trial-section {
  padding: 14rem 0 3.2rem 0;
  background: #043873;
}
.free-trial-section .free-trial-container {
  width: 60.8rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.free-trial-section .free-trial-container .free-trial-heading {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 7.2rem;
  line-height: 8.7rem;
  letter-spacing: -0.3rem;
  color: #FFFFFF;
}
.free-trial-section .free-trial-container .free-trial-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: -0.03rem;
  margin-top: 2.4rem;
  color: #FFFFFF;
}
.free-trial-section .free-trial-container .free-trial-btn {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.3rem;
  letter-spacing: -0.03rem;
  color: #FFFFFF;
  background: #4F9CF9;
  border: 0;
  border-radius: 0.8rem;
  padding: 2rem 4rem;
  margin-top: 4rem;
  margin-bottom: 1.6rem;
}
.free-trial-section .free-trial-container .free-trial-btn .svg-cta {
  margin-left: 1rem;
  width: 1.3rem;
  height: 1.3rem;
}
.free-trial-section .free-trial-container .free-trial-apps {
  margin-top: 4rem;
  display: flex;
  gap: 4rem;
}

.footer {
  padding-top: 14rem;
  background: #043873;
}
.footer .footer-container {
  width: 140rem;
  margin: 0 auto;
}
.footer .footer-container .footer-flex {
  display: flex;
  gap: 10rem;
}
.footer .footer-container .footer-flex div {
  width: 20rem;
}
.footer .footer-container .footer-flex div .under-logo-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: -0.03rem;
  margin-top: 2.4rem;
  color: #FFFFFF;
}
.footer .footer-container .footer-flex div h4 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.18rem;
  letter-spacing: -0.03rem;
  color: #FFFFFF;
}
.footer .footer-container .footer-flex div ul {
  list-style: none;
}
.footer .footer-container .footer-flex div ul li {
  margin-top: 1.6rem;
}
.footer .footer-container .footer-flex div ul li a {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
  letter-spacing: -0.03rem;
  color: #FFFFFF;
  text-decoration: none;
}
.footer .footer-container .footer-flex div ul li a:hover {
  text-decoration: underline;
}
.footer .footer-container .footer-flex div ul li .yellow-link {
  color: #FFE492;
}
.footer .footer-container .footer-flex div h3 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 3.6rem;
  letter-spacing: -0.03rem;
  color: #FFFFFF;
}
.footer .footer-container .footer-flex div .free-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: -0.03rem;
  margin-top: 2.4rem;
  color: #FFFFFF;
}
.footer .footer-container .footer-flex div .footer-btn {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.3rem;
  letter-spacing: -0.03rem;
  color: #FFFFFF;
  background: #4F9CF9;
  border: 0;
  border-radius: 0.8rem;
  padding: 2rem 4rem;
  margin-top: 4rem;
  margin-bottom: 1.6rem;
}
.footer .footer-container .footer-flex div .footer-btn .svg-cta {
  margin-left: 1rem;
  width: 1.3rem;
  height: 1.3rem;
}
.footer .footer-container .line {
  height: 1px;
  width: 100%;
  background: #2E4E73;
  margin-top: 6.7rem;
}
.footer .footer-container .footer-bottom {
  padding: 3.3rem 0;
}
.footer .footer-container .footer-bottom .terms {
  display: flex;
  gap: 6rem;
  align-items: center;
}
.footer .footer-container .footer-bottom .terms .lang {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.footer .footer-container .footer-bottom .terms .lang p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
  letter-spacing: -0.03rem;
  color: #FFFFFF;
}
.footer .footer-container .footer-bottom .terms .lang .globe {
  width: 1.9rem;
  height: 1.9rem;
}
.footer .footer-container .footer-bottom .terms .lang .arrow-down {
  width: 1.2rem;
  height: 0.6rem;
}
.footer .footer-container .footer-bottom .terms a {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
  letter-spacing: -0.03rem;
  color: #FFFFFF;
  text-decoration: none;
}
.footer .footer-container .footer-bottom .terms a:hover {
  text-decoration: underline;
}/*# sourceMappingURL=whitepace.css.map */