@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  font-size: 10px;
}

.navbar {
  width: 100vw;
  padding: 1.4rem 0;
  background: #043873;
}
.navbar .navbar-container {
  width: 140rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .navbar-container .navbar-btns {
  display: flex;
  align-items: center;
  gap: 7.5rem;
}
.navbar .navbar-container .navbar-btns .navbar-menu {
  list-style-type: none;
  display: flex;
  gap: 3.2rem;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.3rem;
}
.navbar .navbar-container .navbar-btns .navbar-menu .nav-menu .nav-menu-links {
  color: #FFFFFF;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.navbar .navbar-container .navbar-btns .navbar-menu .nav-menu .nav-menu-links .svg-nav {
  width: 0.9rem;
  height: 0.4rem;
}
.navbar .navbar-container .navbar-btns .cta-btns {
  display: flex;
  gap: 2.4rem;
}
.navbar .navbar-container .navbar-btns .cta-btns .cta-btn {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.3rem;
  border: 0;
  border-radius: 0.8rem;
}
.navbar .navbar-container .navbar-btns .cta-btns .login-cta {
  color: #043873;
  background: #FFE492;
  padding: 1.85rem 4rem;
}
.navbar .navbar-container .navbar-btns .cta-btns .free-trial-cta {
  color: #FFFFFF;
  background: #4F9CF9;
  padding: 2rem;
}
.navbar .navbar-container .navbar-btns .cta-btns .free-trial-cta .svg-cta {
  margin-left: 1rem;
  width: 1.3rem;
  height: 1.3rem;
}

.hero-section {
  width: 100vw;
  background: #043873;
  padding: 14rem 0;
  z-index: -2;
  position: relative;
  overflow: hidden;
}
.hero-section .hero-vector {
  position: absolute;
  z-index: -1;
  width: 120vw;
}
.hero-section .hero-container {
  width: 140rem;
  margin: 0 auto;
  display: flex;
}
.hero-section .hero-container .hero-txt-side {
  width: 65rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-section .hero-container .hero-txt-side .hero-heading {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 7.7rem;
  letter-spacing: -0.3rem;
  color: #FFFFFF;
}
.hero-section .hero-container .hero-txt-side .hero-txt {
  margin-top: 2.4rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3rem;
  color: #FFFFFF;
}
.hero-section .hero-container .hero-txt-side .cta-btn-hero {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.3rem;
  letter-spacing: -0.03rem;
  color: #FFFFFF;
  background: #4F9CF9;
  border: 0;
  border-radius: 0.8rem;
  padding: 2rem 4rem;
  margin-top: 6rem;
  width: 23.5rem;
  padding: 2rem !important;
}
.hero-section .hero-container .hero-txt-side .cta-btn-hero .svg-cta {
  margin-left: 1rem;
  width: 1.3rem;
  height: 1.3rem;
}
.hero-section .hero-container .hero-img {
  height: 50rem;
}

.work-menagment-section {
  width: 100vw;
  padding: 14rem 0;
}
.work-menagment-section .work-menagment-container {
  width: 140rem;
  margin: 0 auto;
}
.work-menagment-section .work-menagment-container .project-menagment {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.work-menagment-section .work-menagment-container .project-menagment .project-menagment-txt-side {
  width: 67.2rem;
  position: relative;
}
.work-menagment-section .work-menagment-container .project-menagment .project-menagment-txt-side .project-menagment-heading {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 7.2rem;
  line-height: 8.7rem;
  letter-spacing: -0.3rem;
}
.work-menagment-section .work-menagment-container .project-menagment .project-menagment-txt-side .project-menagment-under-text-decoration {
  position: absolute;
  transform: translateY(-100%);
  z-index: -1;
}
.work-menagment-section .work-menagment-container .project-menagment .project-menagment-txt-side .project-menagment-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: -0.03rem;
  margin-top: 2.4rem;
}
.work-menagment-section .work-menagment-container .project-menagment .project-menagment-txt-side .project-menagment-btn {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.3rem;
  letter-spacing: -0.03rem;
  color: #FFFFFF;
  background: #4F9CF9;
  border: 0;
  border-radius: 0.8rem;
  padding: 2rem 4rem;
  margin-top: 6rem;
}
.work-menagment-section .work-menagment-container .project-menagment .project-menagment-txt-side .project-menagment-btn .svg-cta {
  margin-left: 1rem;
  width: 1.3rem;
  height: 1.3rem;
}
.work-menagment-section .work-menagment-container .project-menagment .project-menagment-img {
  width: 67.2rem;
  height: 54.7rem;
}
.work-menagment-section .work-menagment-container .work-together {
  margin-top: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.work-menagment-section .work-menagment-container .work-together .work-together-image {
  width: 71rem;
  margin-right: 10rem;
}
.work-menagment-section .work-menagment-container .work-together .work-together-txt-side {
  position: relative;
}
.work-menagment-section .work-menagment-container .work-together .work-together-txt-side .work-together-heading {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 7.2rem;
  line-height: 8.7rem;
  letter-spacing: -0.3rem;
}
.work-menagment-section .work-menagment-container .work-together .work-together-txt-side .work-together-under-text-decoration {
  width: 40rem;
  position: absolute;
  transform: translateY(-120%);
  left: 35%;
  z-index: -1;
}
.work-menagment-section .work-menagment-container .work-together .work-together-txt-side .work-together-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: -0.03rem;
  margin-top: 2.4rem;
}
.work-menagment-section .work-menagment-container .work-together .work-together-txt-side .work-together-btn {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.3rem;
  letter-spacing: -0.03rem;
  color: #FFFFFF;
  background: #4F9CF9;
  border: 0;
  border-radius: 0.8rem;
  padding: 2rem 4rem;
  margin-top: 6rem;
}
.work-menagment-section .work-menagment-container .work-together .work-together-txt-side .work-together-btn .svg-cta {
  margin-left: 1rem;
  width: 1.3rem;
  height: 1.3rem;
}

.extension-section {
  padding: 14rem 0;
  background: #043873;
  position: relative;
  z-index: -2;
}
.extension-section .extension-container {
  width: 140rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.extension-section .extension-container .extension-txt-side {
  width: 69.7rem;
  position: relative;
}
.extension-section .extension-container .extension-txt-side .extension-heading {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 7.2rem;
  line-height: 8.7rem;
  letter-spacing: -0.3rem;
  color: #FFFFFF;
}
.extension-section .extension-container .extension-txt-side .extension-under-text-decoration {
  width: 50rem;
  position: absolute;
  transform: translateY(-105%);
  left: 32%;
  z-index: -1;
}
.extension-section .extension-container .extension-txt-side .extension-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: -0.03rem;
  margin-top: 2.4rem;
  color: #FFFFFF;
}
.extension-section .extension-container .extension-txt-side .extension-btn {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.3rem;
  letter-spacing: -0.03rem;
  color: #FFFFFF;
  background: #4F9CF9;
  border: 0;
  border-radius: 0.8rem;
  padding: 2rem 4rem;
  margin-top: 6rem;
}
.extension-section .extension-container .extension-txt-side .extension-btn .svg-cta {
  margin-left: 1rem;
  width: 1.3rem;
  height: 1.3rem;
}
.extension-section .extension-container .extension-img {
  width: 60rem;
  height: 47rem;
}/*# sourceMappingURL=whitespace.css.map */